<!DOCTYPE html>
<html lang="es">
  <%- include("../partials/head") %>

  <body>
    <%- include("../partials/header") %>
    <main class="carrito">
      <div class="producto">
        <section class="listas">
          <div class="listaProductos">
            <div class="titulo">
              <h2>Carrito de compras:</h2>
            </div>

            <% carrito.forEach(producto => { %>
                <article class="producto">
              <img src="/image/products/<%-producto.images[0].image%>" alt="plato para perro" />
              <div class="datos">
                <a href="#"><h3><%- producto.name %></h3></a>
              <div class="precio-descuento"> <p class="precio">$<%-producto.price %></p>
                <p class="descuento"><%-producto.discount %>%</p></div>
                <a href="detalleProducto" class="btn detalleProducto">comprar</a>
              </div>

              <div class="boton">
                <button><i class="fa-solid fa-circle-minus"></i></button>
                <span> 05 </span>
                <button><i class="fa-solid fa-circle-plus"></i></button>
                <button><i class="fa-solid fa-trash"></i></button>
              </div>
            </article>
            <% }) %>
         
            
          </div>
          <div class="gestion">
            <div class="envio">
              <h2>Metodos de envio:<i class="fa-solid fa-truck"></i></h2>
            </div>
            <div class="metodo">
              <div class="boton-envio btn">
                <a href="https://www.correoargentino.com.ar/"
                  >Correo Argentino</a
                >
                <i class="fa-solid fa-gifts"></i>
              </div>
              <div class="boton-envio btn">
                <a href="https://www.andreani.com/">Andreani</a>
                <i class="fa-solid fa-a"></i>
              </div>
              <div class="boton-envio btn">
                <a href="#"> Retiro en sucursales</a>
                <i class="fa-solid fa-location-dot"></i>
              </div>
            </div>
            <div class="cupon">
              <input type="text" placeholder="Ingresa tu cupón" />
              <i class="fa-solid fa-tag"></i>
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>

            <div class="precio">
              <ul>
                <div>
                  <li>Total sin envio</li>
                  <li>$10.940</li>
                </div>
                <div>
                  <li>Envio</li>
                  <li>$660</li>
                </div>
                <div>
                  <li>Total con envio</li>
                  <li>$11.600</li>
                </div>
              </ul>
            </div>

            <div class="comprar">
              <button class="btn">
                <i class="fa-solid fa-money-check-dollar">Comprar</i>
              </button>
              <button class="btn">
                <i class="fa-solid fa-cart-shopping">Agregar al carrito</i>
              </button>
            </div>
          </div>
        </section>
        <div class="desktop">
          <section class="ofertas">
            <h3 class="titulo">Tambien podrias necesitar:</h3>
            <%- include("../partials/tarjetas",{products:oferta.slice(0,4)})  %>
            <div class="relacionados">
              <h3 class="titulo">Otras personas tambien compraron:</h3>
              
              <%- include("../partials/tarjetas",{products: oferta.slice(0,4)})  %>
              
            </div>
          </section>
        </div>
      </div>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
