<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')  %> 

<body>
    <%- include('../partials/header')  %> 

<main>


    <section class="ofertas">
        <h2>Ofertas</h2>
    
        <%- include("../partials/tarjetasDescuento")  %> 

   </section>

   <section class="ofertas">
    <h2>Todos los productos</h2>
    <%- include("../partials/tarjetas")  %>
   </section>

	


</main>

    <%- include('../partials/footer')  %> 
</body>
</html>