<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')  %> 

<body>
    <%- include('../partials/header')  %> 

<main>


    <section class="ofertas">
        <h2>Ofertas</h2>
        <%- include("../partials/tarjetasDescuento")  %> 
   </section>

   <%- include("../partials/filtersCategory")  %> 
   <section class="filter" id="pets">
    <h2>Que tipo de mascotas tenes?</h2>
    <%- include("../partials/filterPets")  %> 
    </section>

   <section class="ofertas">
    <h2>Todos los productos</h2>
    <%- include("../partials/tarjetas")  %>
   </section>

	


</main>
<% if (totalPages > 1) { %>
   
    <div class="paginado">
        <div class="container">
        <% if (currentPage > 1) { %>
            <a class="btn" href="/products?page=<%= currentPage - 1 %>"><i class="fa-regular fa-circle-left"></i></a>
        <% } %>
       
        <% for (let i = 1; i <= totalPages; i++) { %>
            <% if (i == currentPage) { %>
              <span class="uHere" id="uHere"><%= i %></span>
            <% } else { %>
              <a class="paginadoItem" href="/products?page=<%= i %>"><%= i %></a>
            <% } %>
        <% } %>
    
          <% if (currentPage < totalPages) { %>
            <a class="btn" href="/products?page=<%= +currentPage + 1 %>"><i class="fa-regular fa-circle-right"></i></a>
          <% } %>
        </div>
    </div>
    <% } %>

    <%- include('../partials/footer')  %> 
</body>
</html>