<section>
    <div class="productContainer">
        <% oferta.forEach(product => { %>
        <article class="productCard">
            
        <div class="imageContainer">
            <img src="/image/products/<%- product.image %>" alt="ProductoDestacado-1">
        </div>
        <p><%- product.name %></p>
        <h2>$<%- product.price %></h2>
                            <% if (product.discount > 0) { %>							 
                                <span><%- product.discount %>% OFF</span>
                            <% } %>
        <a href="/products/detail/<%- product.id %>" class="btn">Ver detalles</a>
    </article>
    <% }) %>
</section>