<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")  %> 
<body>
    <%- include("../partials/header")  %> 
    <main class="admin-main">
    
        <table class="admin-table">
        <tr class="fila-admin">
            <th class="title-admin">Nombre de usuario</th>
            <th class="title-admin">Email</th>
            <th class="title-admin">Rol</th>
            <th class="title-admin">image</th>
            <th class="title-admin">Borrar user</th>
            <th class="title-admin">Editar user</th>
        </tr>
       
       
            <% users.forEach(user => { %>
        <tr class="fila-admin">
            <td class="data-admin"><%- user.name %></td>
            <td class="data-admin"><%- user.email %></td>
            <td class="data-admin"><%- user.role %></td>
            <td class="img-admin"><img src="/image/<%- user.image %>" alt="user"></td>
            <td class="btn"><i class="fa-solid fa-trash-can"></i></td>
            <td class="btn"><i class="fa-solid fa-pen"></i></td>
        </tr>
            <% }) %>
        

    </table>
</main>
    <%- include("../partials/footer")  %> 
</body>
</html>