<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head")  %> 
    <script src="/js/editUser.js"></script>
<body>
    <%- include("../partials/header")  %> 
    <main class="userEdit">

        

        <div class="register__container">
        
            <div class="register__container-formTitle">
              <p class="title">EDITAR PERFIL</p>
            </div>
            
            <form action="/users/profile/edit?_method=put" class="register__container-form" id="formEdit" method="post" enctype="multipart/form-data" novalidate>
               
              <div class="form-element">
                <label for="userName">Nombre</label>
                <input type="text" name="userName" id="userName" value="<%= user.first_name %>"/>
                  <span class="text-error" id="userNameErrors"><%= (locals.errors && errors.userName) ? errors.userName.msg : '' %> </span>

              </div>
              
              <div class="form-element">
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" id="apellido" placeholder="Ej: Fulanito" value="<%= user.last_name %>"/>
                  <span class="text-error" id="apellidoErrors"><%= (locals.errors && errors.apellido) ? errors.apellido.msg : '' %> </span>
              </div>
              
              <div class="form-element">
                <label for="email">Tu email</label>
                <input type="email" name="email" id="email" placeholder="Ej: cosme@email.com" readonly value="<%= user.email %>"/>
                  <span class="text-error" id="emailErrors"><%= (locals.errors && errors.email) ? errors.email.msg : '' %> </span>

              </div>
            
              <div class="form-element">
                <label for="tel">Tel</label>
                <input type="number" name="tel" id="tel" value="<%= user.tel %>"/>
                  <span class="text-error" id="telErrors"><%= (locals.errors && errors.tel) ? errors.tel.msg : '' %> </span>
              </div>
              <div class="form-element">
                <label for="address">Direccion</label>
                <input type="text" name="address" id="" placeholder="Ej: Pendorcho 357" value="<%= address ? address.address : '' %>"/>
                  <span class="text-error" id=""><%= (locals.errors && errors.address) ? errors.address.msg : '' %> </span>

              </div>
              <div class="form-element">
                <label for="postal_code">Codigo postal</label>
                <input type="text" name="postal_code" id="" placeholder="Ej: Fulanito" value="<%= address ? address.postal_code : '' %>"/>
                  <span class="text-error" id=""><%= (locals.errors && errors.addressPostal_code) ? errors.postal_code.msg : '' %> </span>

              <div class="form-element">
                <label for="city">Ciudad</label>
                <input type="text" name="city" id="city" placeholder="Ej: Fondo de Bikini" value="<%= address ? address.city : '' %>"/>
                  <span class="text-error" id="cityErrors"><%= (locals.errors && errors.city) ? errors.city.msg : '' %> </span>

              </div>
            </div>
            <div class="form-element">
              <label for="province">Provincia</label>
              <input type="text" name="province" id="province" placeholder="Ej: 1555" value="<%= address ? address.province : '' %>"/>
                <span class="text-error" id="provinceErrors"><%= (locals.errors && errors.province) ? errors.province.msg : '' %> </span>

            </div>
            <div class="input-file">
              <label for="avatar" >Cambiar Avatar</label>
              <input type="file" id="avatar" name="avatar" accept="image/*">
            </div>
            <span class="text-error" id="avatarErrors"><%= (locals.errors && errors.avatar) ? errors.avatar.msg : '' %> </span>

              <button type="submit" class="form-submit">Guardar cambios</button>
              <span class="text-error" id="submitErrors"> </span>
            </form>


    </main>
    <%- include("../partials/footer")  %> 
</body>
</html>
