<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head")  %> 
<body>
    <%- include("../partials/header")  %> 
    <main class="userEdit">

        

        <div class="register__container">
        
            <div class="register__container-formTitle">
              <p class="title">EDITAR PERFIL</p>
            </div>
            
            <form action="/users/profile/edit?_method=put" class="register__container-form" method="post" enctype="multipart/form-data" novalidate>
               
              <div class="form-element">
                <label for="userName">Nombre</label>
                <input type="text" name="userName" id="userName" value="<%= user.first_name %>"/>
                <% if (locals.errors && errors.userName) { %>
                  <small class="text-error"><%= errors.userName.msg %> </small>
              <% } %>
              </div>
              
              <div class="form-element">
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" id="apellido" placeholder="Ej: Fulanito" value="<%= user.last_name %>"/>
                <% if (locals.errors && errors.apellido) { %>
                  <small class="text-error"><%= errors.apellido.msg %> </small>
              <% } %>
              </div>
              
              <div class="form-element">
                <label for="email">Tu email</label>
                <input type="email" name="email" id="email" placeholder="Ej: cosme@email.com" readonly value="<%= user.email %>"/>
                <% if (locals.errors && errors.email) { %>
                  <small class="text-error"><%= errors.email.msg %> </small>
              <% } %>
              </div>
            
              <div class="form-element">
                <label for="tel">Tel</label>
                <input type="tel" name="tel" id="tel" value="<%= user.tel %>"/>
                <% if (locals.errors && errors.tel) { %>
                  <small class="text-error"><%= errors.tel.msg %> </small>
              <% } %>
              </div>
              <div class="form-element">
                <label for="address">Direccion</label>
                <input type="text" name="address" id="address" placeholder="Ej: Pendorcho 357" value="<%= address.address %>"/>
                <% if (locals.errors && errors.address) { %>
                  <small class="text-error"><%= errors.address.msg %> </small>
              <% } %>
              </div>
              <div class="form-element">
                <label for="postal_code">Codigo postal</label>
                <input type="text" name="postal_code" id="postal_code" placeholder="Ej: Fulanito" value="<%= address.postal_code %>"/>
                <% if (locals.errors && errors.postal_code) { %>
                  <small class="text-error"><%= errors.postal_code.msg %> </small>
              <% } %>
              <div class="form-element">
                <label for="city">Ciudad</label>
                <input type="text" name="city" id="city" placeholder="Ej: Fondo de Bikini" value="<%= address.city %>"/>
                <% if (locals.errors && errors.city) { %>
                  <small class="text-error"><%= errors.city.msg %> </small>
              <% } %>
              </div>
            </div>
            <div class="form-element">
              <label for="province">Provincia</label>
              <input type="text" name="province" id="province" placeholder="Ej: 1555" value="<%= address.province %>"/>
              <% if (locals.errors && errors.province) { %>
                <small class="text-error"><%= errors.province.msg %> </small>
            <% } %>
            </div>
            <div class="input-file">
              <label for="avatar" >Cambiar Avatar</label>
              <input type="file" id="avatar" name="avatar" accept="image/*">
          </div>
              <button type="submit" class="form-submit">Guardar cambios</button>
            
            </form>


    </main>
    <%- include("../partials/footer")  %> 
</body>
</html>