<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head")  %> 

<body>

    <%- include("../partials/header")  %> 
    <main>
        <div class="login__menu">
            <div class="login__menu-icon">
                <p><i class="fa-solid fa-circle-user"></i> Iniciar sesión</p>
            </div>
            <div class="login__menu-form">
                <form action="/users/login" method="post">
                  <!--  <ul class="errores" id="errores-login"> -->
                   </ul>
                   <small class="text-error" id="errorForm"><%=locals.errors && errors.form ? errors.email.msg : "" %> </small>
                   
                    <div>
                     <label for="email">Tu e-mail
                        <input class="campo" type="email" name="email" placeholder="Ej: jose@email.com" id="email">
                    
                         <small class="text-error" id="errorEmail"><%=locals.errors && errors.email ? errors.email.msg : "" %> </small>
                     
                     </label>
                    </div>
                    <div>
                        <label for="password">contraseña
                        <input class="campo" type="password" name="password" placeholder="Ingrese su contraseña" id="password">
                      
                         <small class="text-error" id="errorPassword"><%=locals.errors && errors.password ? errors.password.msg : "" %> </small>
                       
                        </label>
                    </div>

                    <% if (locals.errorMsg ) { %>
                        <small class="text-danger"><%= errorMsg %> </small>
                <% } %>
                    

                <input type="checkbox" name="recordar" id="check">
                <label for="recordar">Recordar</label>
                
                <div class="iniciar-sesion">
                    <button type="submit">Ingresar</button>
                </div>
            </form>
                <!-- <div class="google-facebook">
                    <button>Iniciar sesión con Google</button>
                </div> -->
                <div class="crear-cuenta">
                    <p>¿eres nuevo en Animal Park?</p>
                    <button><a href="/users/register" >Crear Cuenta</a></button>

                </div>
            </div>
        </div>
    </main>

    <%- include("../partials/footer")  %> 
 
<script src="/JS/login.js"></script>
</body>

</html>