<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body>
<%- include('../partials/header')%>
<div class="userMancha">
    <img src="/images/manchas/pngwing.com (5).png" alt="">
</div>
    <main class="userProfile">
      <div class="avatar">
            <img src="/image/users/<%= user.avatar %>" alt="">
        </div>
        <div class="userProfile-container">
            <div class="userProfile_box">
                <h3 class="userProfile_title">Datos personales</h3>
                <p class="userProfile_item">Nombre: <%= user.first_name %></p>
                <p class="userProfile_item">Apellido: <%= user.last_name %></p>
                <p class="userProfile_item">Email: <%= user.email %></p>
                <p class="userProfile_item">Teléfono: <%= user.tel ? user.tel : "------" %></p>
            </div>
            <div class="userProfile_box">
                <h3 class="userProfile_title">Datos de contacto</h3>
                <p class="userProfile_item">Dirección: <%= address ? address.address : "------" %></p>
                <p class="userProfile_item">Código postal: <%= address ? address.postal_code: "------" %></p>
                <p class="userProfile_item">Cuidad: <%= address ? address.city : "------" %></p>
                <p class="userProfile_item">Provincia: <%= address ? address.province : "------" %></p>
            </div>
            <a href="/users/profile/edit" class="btn">EDITAR DATOS</a>
            <button
            class="btn"
            onclick="document.getElementById('user-<%- user.id%>').classList.add('activeModal')"
          >
            ELIMINAR CUENTA
          </button>
          <div class="adminModal" id="user-<%- user.id%>">
            <form
              action="/user/profile/delete/<%- user.id %>?_method=delete"
              method="post"
              class="admin-deleteModal"
            >
              <label>Estas seguro de eliminar a este usuario?</label>
              <label>Nombre: <%- user.first_name%></label>
              <label>Apellido: <%- user.last_name%></label>
              <label>Email: <%- user.email%></label>
              <p
                align="center"
                class="btn"
                onclick="document.getElementById('user-<%- user.id%>').classList.remove('activeModal')"
              >
                CANCELAR
              </p>
              <button class="btn" type="submit">ELIMINAR</button>
            </form>
          </div>
        </div> 
    </main>
<%- include('../partials/footer')%>
</body>
</html>