<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>

<body>
<%- include('../partials/header')%>
<div class="userMancha">
    <img src="/images/manchas/pngwing.com (5).png" alt="">
</div>
    <main class="userProfile">
      <div class="avatar">
            <img src="/image/users/<%= user.avatar %>" alt="">
        </div>
        <div class="userProfile-container">
            <div class="userProfile_box">
                <h3 class="userProfile_title">Datos personales</h3>
                <p class="userProfile_item">Nombre: <%= user.first_name %></p>
                <p class="userProfile_item">Apellido: <%= user.last_name %></p>
                <p class="userProfile_item">Email: <%= user.email %></p>
                <p class="userProfile_item">Teléfono: <%= user.tel ? user.tel : "------" %></p>
            </div>
            <div class="userProfile_box">
                <h3 class="userProfile_title">Datos de contacto</h3>
                <p class="userProfile_item">Dirección: <%= address ? address.address : "------" %></p>
                <p class="userProfile_item">Código postal: <%= address ? address.postal_code: "------" %></p>
                <p class="userProfile_item">Cuidad: <%= address ? address.city : "------" %></p>
                <p class="userProfile_item">Provincia: <%= address ? address.province : "------" %></p>
            </div>
            <a href="/users/profile/edit" class="btn">EDITAR DATOS</a>
            
            <button type="button" class="btnEvil" onclick="openModal()">Eliminar perfil</button>
            

                <!-- Agrega el modal -->
                <div id="myModal" class="modal">
                    <div class="modal-content">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <p>¿Estás seguro de que deseas eliminar tu perfil?</p>
                    <div class="button-container">
                        <form action="/users/profile/delete/?_method=delete" method="post" class="formDeleteUser">
                            <button class="btnEvil" type="submit" onclick="confirmAction()">Confirmar</button>
                        </form>
                        <button class="btn cancel-button" onclick="closeModal()">Cancelar</button>
                    </div>
                    </div>
                </div>   

        </div> 
    </main>
<%- include('../partials/footer')%>
<script src="/JS/profile.js"></script>
</body>
</html>
