<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/header") %>
    <main class="admin-main">
      <table class="admin-table">
        <tr class="fila-admin">
          <th class="title-admin">Nombre de usuario</th>
          <th class="title-admin">Email</th>
          <th class="title-admin">Rol</th>
          <th class="title-admin">image</th>
          <th class="title-admin">Acciones</th>
        </tr>

        <% users.forEach(user => { %>
        <tr class="fila-admin">
          <td class="data-admin"><%- user.first_name + " " + user.last_name %></td>
          <td class="data-admin"><%- user.email %></td>
          <td class="data-admin"><%- user.role.rol %></td>
          <td class="img-admin">
            <img src="/image/users/<%- user.avatar %>" alt="user" />
          </td>
          <td>
            <button
              class="btn"
              onclick="document.getElementById('user-<%- user.id%>').classList.add('activeModal')"
            >
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </td>

          <td>
            <a class="btn" href="/admin/user-edit/<%- user.id %>"
              ><i class="fa-solid fa-pen"></i
            ></a>
          </td>
          <td class="adminModal" id="user-<%- user.id%>">
            <form
              action="/admin/delete/<%- user.id %>?_method=delete"
              method="post"
              class="admin-deleteModal"
            >
              <label>Estas seguro de eliminar a este usuario?</label>
              <label>ID: <%- user.id%></label>
              <label>Nombre: <%- user.userName%></label>
              <label>Apellido: <%- user.apellido%></label>
              <label>Email: <%- user.email%></label>
              <label>Rol: <%- user.rol%></label>
              <p
                class="btn"
                onclick="document.getElementById('user-<%- user.id%>').classList.remove('activeModal')"
              >
                CANCELAR
              </p>
              <button class="btn" type="submit">ELIMINAR</button>
            </form>
          </td>
        </tr>
        <% }) %>
      </table>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
