<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")  %> 
<body>
    <%- include("../partials/header")  %> 
<main class="admin-main">
    <h1>Bienvenido <%= session.user.name %> </h1>
    <img class="avatar" src="image\users\<%= session.user.avatar %>" alt="">
    <ul class="admin-options">
        <li><a href="/" class="btn">Home</a></li>
        <li><a href="/products/create" class="btn">Vender</a></li>
        <li><a href="/admin/products-list" class="btn">Lista de productos</a></li>
        <li><a href="/admin/admin-list" class="btn">Lista de usuarios</a></li>
        <li><a href="/admin/banner-edit" class="btn">Edicion de banner</a></li>
        <li><a href="/users/logout" class="btn">Salir</a></li>
    </ul>
</main>
    <%- include("../partials/footer")  %> 
</body>
</html>